
      .top-nav{
        background-color: #00254a !important;
        color: white;
        height: 40px;
      }

      .top-nav-link{
        font-size: 13px;
        margin-top: 16px;
        padding: 12px !important;
        color: white !important;
      }
       .top-nav-item{
         height: auto;
         width: auto;


       }
       .top-nav-brand{
         font-size: 13px;
         color: White !important;
       }
       .main-nav{
        font-size: 14px;
        line-height: 1.5;
        font-weight: bold;
        color: #565a5c !important;
        font-family: 'Roboto Slab', serif;
       }
       .bottom-nav{
         background-color: white !important;
       }
     
     
     .top-nav{
        background-color: #00254a !important;
        color: white;
        height: 40px;
      }

      .top-nav-link{
        font-size: 13px;
        margin-top: 16px;
        padding: 12px !important;
        color: white !important;
      }
       .top-nav-item{
         height: auto;
         width: auto;


       }
       .top-nav-brand{
         font-size: 13px;
         color: White !important;
       }
       .main-nav{
        font-size: 14px;
        line-height: 1.5;
        font-weight: bold;
        color: #565a5c !important;
        font-family: 'Roboto Slab', serif;
       }
       .bottom-nav{
         background-color: white !important;
       }
       .top-footer{
    background-color: #00254a;
    color:white;
    font-family: 'Roboto Slab', serif;
    padding: 20px 0px;
  }
  .div-line{
    border-bottom: 2px solid #fa593f;
    margin-bottom: 10px;
  }
.col-f .list-group-item{
background-color: #00254a;

}
.col-f .list-group-item a{
  color:white;
  text-decoration: none;
}
.dis .list-group-item{
padding:0;
padding-bottom: 2px;
}
.list-group-item a:hover{
  transition: 1s;
  margin-left: 3px;
}
.footer-soc{
  text-align: center;
}
.line-f{
  padding: 20px 0;
  border-bottom: 1px dotted rgb(94, 88, 88);
}



.footer-bottom
{
  padding-top:20px;
  background-color:#001f3d;
  color:#fff;
}
.p-footer{
  font-family: 'Roboto Slab', serif;
  text-align: center;
}
.p-ff-d{
  text-align: right;
}




 .top-section{
        background-image: url('../slider.jpg');
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        
    }
    

    .top-section-desc{
        background-color: rgb(0 37 74 / 92%);
        color: white;
        position: absolute;
        width: 40%;
        padding: 10px 20px;
        left: 50;
        bottom: 0;
        z-index: 9;

    }
    .img-cover{
        padding:30px 0;
        width: 100%;
    }
    .main-body{
        padding: 50px 0;
    }



  .about-first{
    text-align: center;
  }
  .about-content{
    padding: 20px;
    background-color: #e5f0ff;
    border:1px solid #e5f0ff;
    margin-bottom: 10px;
  }
  .about-content h5{
    color:#002e5b;

  }
  .about-section{
    text-align: justify;
  }
  .address-data{
      padding: 10px;
      border:1px dotted black;
  }
  .down-about{
      background-color: #f2f2f2;
  }
  .down-about-text{
      margin-top: 30px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      
  }
  .down-about-text-d{
      font-size: 18px;
      font-weight: bold;
      margin-left: 30px;
  }
  .contact-page{
      background-color:#f2f2f2 ;
      padding: 30px;
      margin-bottom: 10px;
  }




  .btn-buy{
      color: white;
      padding: 8px 20px;
      background-color: darkgoldenrod;
  }
  .btn-buy:hover{
      color: wheat;
      text-decoration: none;
      background-color: rgb(214, 157, 13);
  }



  /* product */
  


.text-center-s{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.text-center-s1{
    text-align: center;
}
.form-serarch{
    width: 100%;

}
.center-search{
    
    margin:0 auto;
    margin-left: 164px;
    margin-bottom: 50px;
}
.serach-form {
    border-radius: 0;

}
.card-product{
 margin-bottom: 20px;
}
.card-product:hover{
   box-shadow: 2px 0px 16px -3px rgba(0,0,0,0.48);
-webkit-box-shadow: 2px 0px 16px -3px rgba(0,0,0,0.48);
-moz-box-shadow: 2px 0px 16px -3px rgba(0,0,0,0.48);}


/* contact page */


  .address-data{
      padding: 10px;
      border:1px dotted black;
  }
  .down-about{
      background-color: #f2f2f2;
  }
  .down-about-text{
      margin-top: 30px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      
  }
  .down-about-text-d{
      font-size: 18px;
      font-weight: bold;
      margin-left: 30px;
  }

  /*  */



.text-center-s{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.text-center-s1{
    text-align: center;
}
.service_img{
    height: 155px;
    width: 100%;
}
.box-service{
    background-color: #ebebeb73;
    border-bottom:1px dotted rgb(138, 138, 138);
    padding: 5px;
    margin-top: 20px;
}
.service-des{
    color:rgb(139, 139, 139);
}

/*  */


  body{
    font-family: 'Roboto Slab', serif;
  }
    .nav-link-top{
      color: white !important;
      font-size: 13px;
    }
        /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 990px) {
      .example {background: red;}
      .top-nav{display: none;}
      .navbar-top1{display: block;
            
        background-color: #00254a !important;
        color: white;
      }
      .top-section-desc p{
        display: none;
      }
      .hide-sm{display: none;}
      .top-section {height: 100px;}
      .serach-form {margin-left: 0;}
      .center-search{margin-left: 0;}
      .btn-ser{background-color: #00254a;color: white;}

    }

    .toplink{
      padding: 12px;
      text-align: center;
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 990px) {
      .example {background: green;}
      .navbar-top1{
        display: none;
      }
    }


    .soc-icon{
      font-size: 20px;
      margin: 5px;

    }
    .soc-icon a{
      color: white;
    }
    .soc-icon a:hover{
      color: rgb(206, 206, 206);
    }











     .btn-readmore{
    padding: 10px 20px;
    text-decoration: none;
    color:black;
    border:1px solid black;
    margin-bottom: 10px;
  }
  .btn-readmore:hover{
    transition: 1s;
    text-decoration: none;
    color: #fff;
    background-color: brown;
  }
  .product-section{
    margin-top: 30px;
  }
  .title-product{
    margin-top: 10px;
  }
  .col-section{
    margin-bottom: 50px;

  }
  .btn-right{
    position: relative;
    top:-50px;
  }
  .col-color{
    padding: 30px 0;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #016cb2;
  }
  .col-title-w{
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
  }
  .card-img-w{
     background-color:#fff;
    padding: 10px;
    border-radius: 50%;
    margin: 0 auto;
    width: 50px;
  }
  .card-s{
    border-radius: 0;
    margin-bottom: 10px;
    padding-top: 10px;
  }
  .card-s:hover{
    color: #fff;
    background-color: rgb(104, 95, 95);
  }
  .section-callI{
    background-image: url('asset/i1.jpg');
    
    background-size: cover;
    color: white;
  }
  .section-call{
    padding:70px 0;
    
background-color: rgb(0 22 101 / 65%);
  }
  .btn-call{
    margin-top: 30px;
    font-weight: bold;
    padding: 10px 20px;
    border:2px solid #fff;
    color:#fff;
  
  }
  .btn-call:hover{
    transition: 1s;
    color: white;
    background: #FF5326;
    text-decoration: none;
    border:2px solid #FF5326;
    
  }
  
  .btn-enq{
    
    text-align: center;
     font-weight: bold;
     padding: 10px 20px;
     color:#FF5326;
     border: 1px solid #FF5326;
  }
  .btn-enq:hover{
    text-decoration: none;
    color: white;
    background:#FF5326;
     border: 1px solid #FF5326;
  }
  .prod-a p {
    color: black;
  }
  .a-p-enq{
    margin-top: 10px;
    text-align: left;
  }
  .prod-a:hover{
    text-decoration: none;
  }
  
  .img-c{
    max-height: 500px !important;
  }
  .p-ff-d{
    font-size: 0.8em;
  }
  .coursole-p h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 1500;
    font-size: 3em;
    color:white;
    
  }
  .coursole-p{
    color: #00254a !important;
    margin-top: 30px;
  }
    .coursole-p p{
    color: #fff !important;
    font-size: 1.2em;
    font-weight: 500;
  }
  .top-center b{
    background-color: #fff;
    padding: 3px 20px;
    color: #00254a !important;
  }
  .carousel-caption1{
    top: 42%;
    /* background-color: rgba(20, 12, 99, 0.322); */
    font-weight: bold;
    text-align: left;
    width: 68%;
    height: 45%;
    padding: 0 50px;
    left: 12%;
  }
  .carousel-caption2{
    top: 20%;
    /* background-color: rgba(20, 12, 99, 0.322); */
    font-weight: bold;
    text-align: left;
    width: 68%;
    height: 45%;
    padding: 0 50px;
    left: 50%;
  }
  .carousel-caption3{
    bottom:40px;

  }
  .btn-caro {
    padding: 10px 20px;
    font-weight: bold;
    
    border:2px solid #fff;
    color: #fff;
  }
  .btn-caro:hover{
    transition: 1s;
    color: #fff;
    background-color: rgb(255, 166, 0);
    text-decoration: none;
     border:2px solid rgb(255, 166, 0);
  }
  .btn-caroI {
    margin-left: 10px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #FF5326;
    border:2px solid #FF5326;
    color: #fff;
  }
  .btn-caroI:hover{
    transition: 1s;
    color: #fff;
    background-color: rgb(255, 166, 0);
    text-decoration: none;
     border:2px solid rgb(255, 166, 0);
  }


.btn-message{
        padding: 10px 20px;
        background-color: #FF5326 !important;
        border:2px solid #FF5326 !important;
        color:white;
    }
    .btn-message:hover{
        transition: 1s;
        border:2px solid #FF5326;
        color:#FF5326 !important;
        background: #fff !important;
        cursor: pointer;
    }


    .link-cat{
      color:rgb(73, 72, 72);
    
    }
    .link-cat:hover{
      color:rgb(73, 72, 72);
    }
    .btn-enq{
      width: 100%;
    }
    
    .btn-enq i {
      font-size: 15px;
      margin-right: 3px;
    }
    .btns{
      border-radius: 0;

    }
    .pagination .page-item.active .page-link{
      background: #00254a !important;
      border-color: #00254a !important;
    }
    .pagination .page-item.active .page-link:hover{
      background: #fff !important;
      border-color: #fa5a3f !important;
      color: #fa5a3f !important;
    }
    .pagination .page-item .page-link:hover{
      background: #fff !important;
      border-color: #fa5a3f !important;
      color: #fa5a3f !important;
    }
    .pagination .page-item .page-link{
      margin: 2px;
    }


    .card-img-top{
      position: relative;
    }
    .sell-product{
      position: absolute;
      top:0px;
      padding: 3px 15px;
      color: white;
      background-color: #fa5540;
      font-weight: bold;
      left: 0px;
    }
    .card-bd{
      position: relative;
    }
    .sb-title{
      
      position: absolute;
      right: 10px;
      top:28px;
      font-size: 14px;
    }
    .sb-titleoprice{
      position: absolute;
      right: 10px;
      top: 50px;
      font-size: 11px;
      color: black;
    }
    .card-tit{
      color: #00254a;
      width: 57%;
      font-size: 16px;
    }
    .a-p-enq{
      margin-top: 37px;
      text-align: center;
    }
    .btn-enq{
      
      padding: 5px 14px;
      border-radius: 5px;
    }
    .product-col{
      padding-right: 0;
    }



    .link-cat {
                  border-bottom: 1px solid #eee;
                }
                .hide-normal{
                  color: #fa5540;
                
                }
                
                .category-title {
                  background-color: #00254a;
                  font-weight: bold;
                  margin-bottom: 10px;
                }
                
                .link-cat{
                  color:rgb(73, 72, 72);
                  text-decoration: none;
                  border-bottom: 0;
                
                }
                .link-cat:hover{
                  text-decoration: none;
                  
                  color:rgb(73, 72, 72);
                }
                
                .btn-search{
                    color: #fa5540;
                    background-color: transparent;
                    background-image: none;
                    border-color: #fa5540;
                }
                .btn-search:hover {
                    color: #fff;
                    background-color: transparent;
                    background-color: #fa5540;
                    border-color: #fa5540;
                }

                 .close span{
      font-size: 20px !important;
      color: #FF5326;
    }

    .modal-header .modal-title{
      color: #0053a7;
      font-size: 15px !important;
    }
    .modal-header .modal-title:hover{
      color: #03407c;
    }
    
    .frontpage-modal-body{
      padding: 0px;
    }
    input{
      border-radius: 0 !important;
    }
    .serach-form{
      border: 1px solid #FF5326;
      border-right: 0;
    }
    form label{
      color:rgb(26, 24, 24);
    }
    .sort-by{
      border-radius: 0 !important;
      border: 1px solid #FF5326;
    }

     .carousel-control-custom{
    padding: 10px;
    font-size: 18px;
    background-color: #FF5326;
    
  }
   .carousel-caption3{
    bottom:100px;

  }
  .coursole-p h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 1500;
    font-size: 5.5em;
    color:white;
  
  }

     .videocontainer{
       margin-top: 50px;
       background-image: url('../slider1.jpeg');
       background-size: cover;
       height: 400px;
       color:#fff;
       background-attachment: fixed;
       padding: 30px 0;
     }
     
     .vid-p p{
       text-align: center;

     }
     .vid-p .fas-vid{
       font-size: 5em;
       
       color: red;
       
     }
     .fas-vid:hover{
  
       color: rgb(212, 26, 26);

     }

     .btn-play{
       border: 0;
       background-color: inherit;
     }
     .btn-play:active{
       background-color: inherit;
       border: 0;
     }




 .top-section{
        background-image: url('../slider.jpg');
        background-size: cover;
        padding:30px 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-blend-mode: multiply;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
  .div-top-section p{
    font-size: 14px;
    margin-left: 5px;
    font-weight: bold;
      text-align: center;
      color: #fff;
  }
  .div-top-section p a{
    margin-right: 5px;
    color: #cdcdce;
  }
  .div-top-section p a:hover{
    color: #fff;
  }
  .header-class{
    margin-top: 25px;
    font-size: 40px !important;
    font-weight: bold;
  }
  .contact-page{
    border-radius: 15px;
    padding: 60px;
    padding-bottom: 109px;
    color: #fff;
    background-color: #13202a;
  }

.contact-page input{
  border-radius: 3px;
  height: 45px;
  border: 0;
  background-color: #2d4150b9;
}

.contact-page textarea{
  border-radius: 5px;
  border: 0;
  background-color: #2d4150b9;
}
.contact-page textarea:focus{
  background-color: #13202a;
}

.contact-page label{
  font-weight: bold;
}
.contact-page input:focus{
  background-color: #13202a;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.address-data{
   border-radius: 13px;
    border-color: #FF5326;
}
.address-data ul li{
  margin-bottom: 5px;
  list-style-type: none;
}
.address-data h6{

  color: #FF5326;
}
.address-data ul {
  padding-left: 10px;
}
.address-data ul li i{
  color: #ff5722;
  margin-right: 5px;
}

input::placeholder {
  color: #fff !important;
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #fff;
}

textarea::placeholder{
  color: #fff !important;
}
input::-ms-input-placeholder { /* Microsoft Edge */
 color: #fff;
}

 .card-product .card{
      height: 300px !important;
      overflow: hidden;
    }
    .card-product .card-title{
      font-size: 17px;
    }



.card-manf h5{
 font-weight: bold;
 font-size: 20px;
}
.card-manf p{
  color: #949494;
}
.card-manf a{
    color: #1c1c1c;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    transition: all 500ms ease;
}
.card-manf a:hover{
  text-decoration: none;
  transition: 1s;
  color: #ff9100;
}

     .modal-header{
       position: relative;
     }

     .btn-modal{
       position: absolute;
       top: -12px;
    right: -14px;
  
    background-color: #00254a;
     }
     .btn-modal:active{
       border: 0px;
     }
     .btn-span{
       background-color: #00254a;
       color: #fff !important;
       padding: 0px 9px;
       border-radius: 50%;
     }
     